/*==================================================================
[ Form ]*/
.contactForm {
  width: 100%;
  display: block;
  padding: 17px 17px 0px 17px;
}
/*------------------------------------------------------------------
[ Input ]*/
.wrapInput {
  width: 100%;
  position: relative;
  border: 1px solid #949494;
  border-radius: 10px;
  margin-bottom: 20px;
  background: white;
}
.labelInput {
  //font-family: Montserrat-SemiBold;
  font-family: "Cambo-Regular";
  font-size: 12px;
  color: #666666;
  line-height: 1.2;
  text-transform: uppercase;
  padding: 0px 0 0px 24px;
}
.input {
  display: block;
  width: 100%;
  background: transparent;
  //font-family: Montserrat-Regular;
  font-family: "Cambo-Regular";
  font-size: 19px;
  color: #404b46;
  line-height: 1.2;
  padding: 0px 26px 8px 26px;
  &::placeholder{
    color: #adadad;
  }
}
input.input {
  height: 40px;
  outline: none;
  border: none;
}
textarea.input {
  min-height: 130px;
  padding-top: 14px;
  padding-bottom: 15px;
  outline: none;
  border: none;
}
.labelInputFile{
  display:block;
  padding-left: 5px;
}
.inputFile{
  &::-webkit-file-upload-button{
    background-color: #BDBDBD;
    border-radius: 9px;
    display: inline-block;
    cursor: pointer;
    padding: 6px 18px;
    text-decoration: none;
    outline: none;
    border: none;
    //border: 2px solid #217A64;
    color: #000000;
    font-family: sans-serif;
    font-size: 98.5%;
    text-decoration: none;
    text-align: center;
  }
}
/*---------------------------------------------*/
.focusInput {
  position: absolute;
  display: block;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  top: -1px;
  left: -1px;
  pointer-events: none;
  border: 1px solid #6675df;
  border-radius: 10px;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  -webkit-transform: scaleX(1.1) scaleY(1.3);
  -moz-transform: scaleX(1.1) scaleY(1.3);
  -ms-transform: scaleX(1.1) scaleY(1.3);
  -o-transform: scaleX(1.1) scaleY(1.3);
  transform: scaleX(1.1) scaleY(1.3);
}
.input:focus + .focusInput {
  visibility: visible;
  opacity: 1;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
/*------------------------------------------------------------------
[ Button ]*/
.containerFormBtn{
  padding-top: 20px;
}
/*------------------------------------------------------------------
[ Alert validate ]*/
.validateInput {
  position: relative;
}
.map{
  width:100%;
}
.recaptcha{
  padding-top: 12px;
}